.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 28%
    right: 70%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 8%
    right: 17%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 30%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.banner-principal__row .banner-principal__img
  width: 500px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important
.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important
.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important

//////////COLOR_TEXTO_BOTON_REGRESAR///////////
.barra-avance__boton--regresar span
  color: white !important

/////////IMG_100%_CAJON_MEDIO/////////
.pst
  position: relative
  z-index: 2
.banner-text
  background-color: #EBF4FF
  border-radius: 10px
  padding: 20px 30px
  margin-top: -60px
  @media screen and (max-width: $bp-max-sm)
    margin-top: -10px
  
//////////Background_Color///////////
.bg-color
  &-1
    background-color: #D8E9FF !important
  &-2
    background-color: #F0F3FD
  &-3
    background-color: #FFEACB
  &-4
    background-color: #FFF4E5 !important
  &-5
    background-color: #FCEDF9
  &-6
    background-color: #F3F0EA
  &-7
    color: #FFCD80 !important
  &-8
    background-color: #FFF2EB
  &-9
    background-color: #EBF4FF !important
  &-10
    background-color: #F6F6F6
    border: 3px solid #FF7630
  &-11
    color: #997B4D !important
  &-12
    background-color: #FFF9F1
  &-white
    background-color: white !important
    border: 1px solid $lightest-gray
  &-secundario
    background-color: $color-secundario !important
  &-sintesis
    background-color: #F6F6F6

///////Full Width Background///////////////////
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
  @media screen and (max-width: $bp-max-sm)
    padding-left: 1.5rem
    padding-right: 1.5rem
.bg-full-width-2
  background-size: contain
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
  @media screen and (max-width: $bp-max-sm)
    padding-left: 1.5rem
    padding-right: 1.5rem

///////////////fondos/////////////////
.bg-fondo
  &-1
    background-image: url("../assets/curso/bg1.svg") !important
    background-position: top
  &-2
    // background-image: url("../assets/bg/bg2.png") !important
    background-position: bottom
  &-slider
    background-image: url("../assets/curso/bg-slider.png") !important
    background-position: bottom

/////////CUSTOM TABS-B///////////////
.tabs-b__content-item, .tabs-b__tab.tabs-b__tab--active
  background-color: #F9F7F4
.tabs-b__tab
  background-color: #FFF2EB

//////////////CUSTOM AVATAR-LEFT//////////////
.tarjeta-avatar-b__img
  min-width: 29%
  display: block
  @media screen and ( max-width: $bp-max-sm )
    min-width: auto
.tarjeta--azul 
  background-color: #F0F3FD
  border: 3px solid #FF7630

/////////////ACORDION/////////////
.acordion__accion__btn--a
  background-color: #941FF0 !important
  color: white
.acordion__activo
  background-color: #EBF4FF !important
.acordion_titulo
  color: #fff !important
.acordion__titulo 
  h3
    color: $color-sistema-texto  !important
.acordion__activo
  .acordion__titulo 
    h3
      color: $color-sistema-texto !important

///////////// CUSTOM LINEA DE TIEMPO D
.linea-tiempo-d__item.row.linea-tiempo-d__item--selected
  .col-auto.linea-tiempo-d__item__col-number
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: #941FF0 !important
      color: white
  .col
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background-color: #F6F6F6

/// non selected
.linea-tiempo-d__item.row
  .col-auto.linea-tiempo-d__item__col-number
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: #D9D9D9
    .linea-tiempo-d__item__dots:after
      border-left: 4px dotted #adb8c2 !important
  .col
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background-color: #D9D9D9
    
//CLASES TITULOS//
.titulo-con-imagen
  display: flex
  align-items: center
  position: relative
.titulo-con-imagen__fondo
  background-color: #E2DACC
  border-radius: 20px
  padding: 10px 20px
  display: inline-flex
  align-items: center
.titulo-con-imagen__imagen
  position: absolute
  left: -5px
  width: 85px
.titulo-con-imagen__texto
  margin: 0
  padding-left: 80px

//////// Card hover ////////////
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
      background-color: #FFF4E5
      h4
        color: $color-sistema-texto

  .crd_hover_txt--body
    position: absolute
    padding: 1.6rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #FFF4E5
    text-align: center
    h4
      color: $color-sistema-texto
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em
      
//////////////CUSTOM TABS-A/////////////
.tabs-a.color-acento-botones .tabs-a__tab__selected 
  background-color: #941FF0
  color: #fff !important
.tabs-a__tab
  background-color: #F1F6FF
.tarjeta.color-acento-botones--borde
  background-color: #EBF4FF
  border: solid 4px #EBF4FF

//////////////CUSTON SLYDER-A////////
.slyder-a__bullets__item 
  background-color: #DAB0FA
  border: #DAB0FA
.slyder-a__bullets__item--active
  background-color: #941FF0
.slyder-a__btn--atrs, .slyder-a__btn--sigt
  background-color: #941FF0

////////SOMBRA CAJON//////////
.box-shadow
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 20px;
  border-radius: 8px; /* Opcional, para bordes redondeados */

//////////CUSTOM BOTONES SLYDER-F/////////
.slyder-f__btn
  height: 35px
  width: 35px
  max-width: 35px
  background-color: $color-acento-botones
  border-radius: 50%
  padding: 0 !important
  margin: 0 auto
  .fa-chevron-left
    font-size: 20px
    color: white
  .fa-chevron-right
    font-size: 20px
    color: white
  
.slyder-f
    align-items: center

    .slyder-f__main
      width: 70%

      @media (min-width: 769px)
        width: 80%

//////////CUSTOM TARJETA AVATAR TOP////////////
.tarjeta-avatar
  padding-top: 50px
.tarjeta-avatar .tarjeta
  padding-top: 20px !important
.tarjeta-avatar > img
  width: 95px

.linea-tiempo-d__item__content__title 
  height: 46px